*.class
*.log
*.cache

# sbt specific
scala/menthal-models/.cache/
scala/menthal-models/.history/
scala/menthal-models/.lib/
scala/menthal-models/dist/*
scala/menthal-models/target/
scala/menthal-models/lib_managed/
scala/menthal-models/src_managed/
scala/menthal-models/project/boot/
scala/menthal-models/project/plugins/project/

# IntelliJ
scala/menthal-models/.idea/
